textarea::-webkit-input-placeholder {
  opacity: 0.5;
  color: #000;
}

textarea:-moz-placeholder { /* Firefox 18- */
  opacity: 0.5;
  color: #000;
}

textarea::-moz-placeholder {  /* Firefox 19+ */
  opacity: 0.5;
  color: #000;
}

textarea:-ms-input-placeholder {
  opacity: 0.5;
  color: #000;
}

textarea {
  resize: none;
}
